//= Navbar
$navbar-default-bg: #333;
$navbar-default-link-active-bg: #008CBA;
$navbar-default-link-hover-bg: #272727;
$navbar-default-link-color: #fff;
$navbar-default-link-active-color: #fff;
$navbar-default-link-hover-color: #e6e6e6;

