<header class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <nav class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a>ETLive</a></li>
        {{#link-to 'application' tagName='li'}}<a href="#">Home</a>{{/link-to}}
        {{#link-to '' tagName='li'}}<a href="#">Servers</a>{{/link-to}}
        {{#link-to '' tagName='li'}}<a href="#">Friends</a>{{/link-to}}
        {{#link-to '' tagName='li'}}<a href="#">Settings</a>{{/link-to}}
      </ul>
    </nav>
  </div>
</header>
<div class="container content">
  <p>Content</p>
  {{outlet}}
</div>
<footer>
  <p> some footer</p>
</footer>
